# Compiled class files
*.class

# Maven files
target/

# Package Files
*.jar
*.war
*.ear
*.tar.gz
*.rar

# IntelliJ IDEA files
.idea/
*.iml
*.iws
*.ipr

# Log files
*.log

# Temporary files
*.tmp
*.swp

# System files
.DS_Store
Thumbs.db

# Other common files to ignore
*.bak
*.cache
*.pid
*.lib
*.dll
*.bin
*.lck
*.lock
*.bundle

# RAML-to-OAS3-Converter output
output.json
tempDir/
